.grid-employee {
    position: relative;
}

table th,
td {
    border-bottom: 1px solid #e9ebee;
    padding: 10px 16px;
    font-size: 13px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

table td span {
    /* max-width: 100px; //td max-width: 100px; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

tbody tr:hover {
    background-color: #e9ebee;
}

tbody tr:active,
tbody tr:visited {
    background-color: rgb(1, 145, 96);
}