.filter-bar {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 5px 16px;
  position: relative;
}

.filter-bar .filter-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 12px;
  right: 10px;
  cursor: pointer;
}

.box-selected {
  position: relative;
  margin-right: 10px;
  height: 100%;
}

.selected {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.filter-bar .filter-right {
  position: absolute;
  right: 0;
  top: 3px;
  height: 100%;
}

.filter-bar .filter-department {
  position: absolute;
  top: 3px;
  left: 265px;
  height: 100%;
}

.filter-bar .filter-position {
  position: absolute;
  top: 3px;
  left: 455px;
  height: 100%;
}

.styled-select {
  max-height: 40px;
  line-height: 18px;
  width: 150px;
  padding: 10px 12px 10px 16px;
  font-size: 13px;
  outline: none;
  border: 1px solid #bbbbbb;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.selected-focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(38, 168, 66, 0.4);
  border: 1px solid rgba(38, 168, 66, 0.4) !important;
}

.styled-select svg {
  position: absolute;
  right: 12px;
}

.box-option {
  margin-top: 2px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  position: relative;
  font-size: 13px;
  padding: 2px 0;
  z-index: 999;
}

.option {
  height: 40px;
  outline: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option svg {
  color: #fff;
  margin: 0 10px;
}

.option:hover {
  background-color: #e9ebee;
  color: #000;
}

.option:hover svg {
  color: #e9ebee;
}
