.btn {
    display: flex;
    align-items: center;
    text-align: left;
    border: none;
    margin-left: 16px;
}

.m-btn {
    background-color: #019160;
    min-width: max-content;
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    color: #fff;
    font-family: GoogleSans-Regular;
    padding: 0 16px;
    border: none;
    cursor: pointer;
}

.m-btn:hover {
    background-color: #2FBE8E;
}

.m-btn:focus,
.m-btn:active {
    background-color: #01B075;
}

button i {
    padding: 0 8px 0 0;
}

.m-btn-icon {
    background-position: center;
}

.btn-text {
    margin-left: 8px;
}

.m-second-button {
    border: 1px solid #bbbbbb;
    min-width: max-content;
    border-radius: 4px;
    height: 40px;
    color: #000;
    padding: 0 24px;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.m-second-button:hover {
    background-color: #e9ebee;
}

.m-btn-refresh {
    background-image: url('/icon/refresh.png');
    background-repeat: no-repeat;
    width: 40px;
    background-position: center;
}

.btn-cancel {
    border-radius: 4px;
    background-color: #ddd;
    height: 40px;
    color: #000;
    padding: 0 24px;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.btn-cancel:hover {
    background-color: #e9ebee;
}

.m-second-button:focus,
.m-second-button:active,
.btn-cancel:focus,
.btn-cancel:active {
    background-color: #01B075;
}