.content {
    width: 100%;
    height: calc(100vh - 92px);
    position: relative;
}

.table-scroll {
    height: 735px;
    overflow: scroll;
    position: absolute;
    background-color: #fff;
    margin-top: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}